<div class="w3-panel">
  <a href="/">
  <img src="/assets/publats.svg" height="60px"></a>
  </div>

<div class="w3-bar w3-light-grey w3-padding w3-large">
<a href="/" class="w3-bar-item w3-button w3-hover-yellow" id="Home">Home</a>
<a href="/grau" class="w3-bar-item w3-button w3-hide-small w3-hover-yellow" id="Grau">Grau</a>
<a href="/cabanal" class="w3-bar-item w3-button w3-hide-small w3-hover-yellow" id="Cabañal">Cabañal</a>
<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-light-grey w3-hide w3-hide-large w3-hide-medium">
<a href="/grau" class="w3-bar-item w3-button">Grau</a>
<a href="/cabanal" class="w3-bar-item w3-button">Cabañal</a>
</div>

<div class="w3-container">